.ipynb_checkpoints
__pycache__
tmpignore
fingerprint_cosine.cfg.gzip
*.gzip
*.pyc
tmp
*.pkl
tempignore
*.pth
*.th
*build/
*.egg-info/
*dist/


*/tmpignore/*
*/.ipynb_checkpoints/*
*/__pycache__/*
*/tempignore/*
